services:
  bot:
    build:
      context: .
    container_name: 'SoniferQuqonBot'
    env_file:
      - .env
    networks:
      - app_net
    ports:
      - "4040:4040"
      - "5000:5000"
    volumes:
      - ./SoniferQuqonBot:/bot/data  # Only persist database folder
    restart: always
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: redis
    command: >
      redis-server --requirepass ${REDIS_PASSWORD:?REDIS_PASSWORD variable is not set}
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always
    networks:
      - app_net

volumes:
  redis_data:

networks:
  app_net:
